.share__item {
  .share__linkedin {
    background-color: #0E76A8;

  }

  .share__copylink {
    background-color: lightgray;
      .icon-copylink {
        background: url("/images/copy.svg")  
      }

  }


}
